body{
  /* max-width: 1920px; */
  margin:auto;
  font-family: sans-serif;
  min-height: 100vh;
}
.login-form{
  max-width: 400px;
  background: rgba(83, 97, 91, 0.642);
  padding: 40px 50px;
  height: 400px;
  z-index: 2;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.signup-form{
  max-width: 500px;
  height: 500px;
  padding: 30px;
  background: rgba(255, 254, 254, 0.685);
  z-index: 2;
  position: absolute;
  color:black;
  font-size: 30px;
}
.login-title,.signup-title{
    font-size: 30px;
  line-height: 3;
  text-decoration: underline rgb(0, 119, 255);
  font-style:oblique;
}
.signup-title{
 text-align: center;
}
.signup-name{
display:flex;
margin: 10px 0;
margin-right:0 10px;
}
.input-boxs .input-box input{
  outline: none;
  border: none;
  font-size: 25px;
  width: 100%;
  font-weight: 500;
  align-items: center;
  border-bottom:2px solid ;
  line-height: 2;
  margin-top: 10px;
  margin: 10px 5px;
  border-radius: 5px;
}
.input-boxs .button input {
  width: 100%;
  margin-top: 20px;
  font-size: 25px;
  color: rgb(242, 244, 246);
  background-color: #00b09b;
  border: none;
  padding: 10px;;
  border-radius: 5px;

}
.input-boxs .login-text,.signup-text{
margin-top: 20px;
font-size: 20px;
}
.input-boxs .login-text a,.signup-text a {
  text-decoration: none;
  font-size:20px;
  }
.signup, .signup a{
  margin-top:25px;
  font-size:21px;
  text-decoration: none;
}
.login-form a{
color: rgb(23, 227, 246);
}